name: PHPStan

on:
  pull_request:
    paths:
      - "**"

jobs:
  # PHPStan + Pint Fixing
  lint:
    runs-on: ubuntu-latest

    permissions: write-all

    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      # Composer install
      - uses: ramsey/composer-install@v3
        with:
          composer-options: "--ignore-platform-reqs --optimize-autoloader"

      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github

      - name: Run Pint
        run: ./vendor/bin/pint --test

